[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Weilin Ding
	email = lynn_ding@yahoo.com
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
